Repository cuaklabs/duck-poker-backend: changes, and which Codecov flags are due for each by the changed paths.
All: env, redis, testUtils, ws

chore(npm): update packages with mongodb
  package-lock.json
  package.json
Due: none

feat(common): update common package with AppError
  packages/common/CHANGELOG.md
  packages/common/src/common/domain/model/AppError.ts
  packages/common/src/common/domain/model/AppErrorType.ts
  packages/common/src/index.ts
Due: none

refactor: update test config with mongodb config
  docker-compose.yml
  packages/testUtils/config/test.env
Due: testUtils

feat(testUtils): add TestEnvDotEnvLoader
  packages/testUtils/src/common/domain/model/TestEnv.ts
  packages/testUtils/src/env/integration/dotenv/TestEnvDotEnvLoader.ts
  packages/testUtils/src/env/integration/dotenv/TestEnvDotenvLoader.int.spec.ts
  packages/testUtils/src/index.ts
Due: testUtils

feat(mongodb): add mongodb package
  .github/workflows/build.yml
  codecov.yml
  packages/mongodb/.npmignore
  packages/mongodb/CHANGELOG.md
  packages/mongodb/README.md
  packages/mongodb/package.json
  packages/mongodb/tsconfig.dev.json
  packages/mongodb/tsconfig.json
  tsconfig.base.json
  tsconfig.json
  tsconfig.packages.dev.json
  tsconfig.packages.json
Due: none

feat(mongodb): add BaseEntityMongoDb
  packages/mongodb/src/common/integration/mongodb/model/BaseEntityMongoDb.ts
  packages/mongodb/src/index.ts
Due: none

feat(mongodb): add EntityMongoDbFindAdapter
  packages/mongodb/src/common/integration/mongodb/adapter/EntityMongoDbFindAdapter.comp.spec.ts
  packages/mongodb/src/common/integration/mongodb/adapter/EntityMongoDbFindAdapter.spec.ts
  packages/mongodb/src/common/integration/mongodb/adapter/EntityMongoDbFindAdapter.ts
Due: none

feat(mongodb): add EntityMongoDbCreationAdapter
  packages/mongodb/src/common/integration/mongodb/adapter/EntityMongoDbCreationAdapter.comp.spec.ts
  packages/mongodb/src/common/integration/mongodb/adapter/EntityMongoDbCreationAdapter.spec.ts
  packages/mongodb/src/common/integration/mongodb/adapter/EntityMongoDbCreationAdapter.ts
Due: none

feat(mongodb): update index with EntityMongoDbCreationAdapter and EntityMongoDbFindAdapter
  packages/mongodb/src/index.ts
Due: none

docs(mongodb): add changelog
  packages/mongodb/CHANGELOG.md
Due: none

chore(typescript): update typescript build to compile projects in the right order
  tsconfig.packages.dev.json
  tsconfig.packages.json
Due: none

feat(jest): update jest config with buildPackageJsProjects, buildPackageTsProjects and getPackages
  config/jest/jest.config.base.js
Due: none

feat(jest): update jest config with mongodb project and refactor config
  config/jest/jest.config.js
  config/jest/jest.js.config.js
Due: none

chore(npm): update package config with mongodb test scripts
  package.json
Due: none

chore(npm): update dependencies
  package-lock.json
  package.json
Due: none

chore(typescript): improve ts experience with better ts clean script
  package.json
  packages/common/tsconfig.json
  packages/env/tsconfig.json
  packages/mongodb/tsconfig.json
  packages/redis/tsconfig.json
  packages/server/tsconfig.json
  packages/testUtils/tsconfig.json
  packages/ws/tsconfig.json
  scripts/removeTypescriptCompiledFiles.mjs
Due: env, redis, testUtils, ws

chore(package): update depdencies
  package-lock.json
  package.json
Due: none

chore(redis): upgrade ioredis to v5
  package-lock.json
  package.json
  packages/redis/package.json
  packages/redis/src/common/adapter/ioredis/IoredisPublisher.int.spec.ts
  packages/redis/src/common/adapter/ioredis/IoredisPublisher.spec.ts
  packages/redis/src/common/adapter/ioredis/IoredisPublisher.ts
  packages/redis/src/common/adapter/ioredis/IoredisSubscriber.int.spec.ts
  packages/redis/src/common/adapter/ioredis/IoredisSubscriber.spec.ts
  packages/redis/src/common/adapter/ioredis/IoredisSubscriber.ts
Due: redis

Path conditions:
  env: any of: packages/env/
  redis: any of: packages/redis/
  testUtils: any of: packages/testUtils/
  ws: any of: packages/ws/
